<form (ngSubmit)="add(f)" #f="ngForm">
  <div class="form-group">
      <label for="port_id">Port</label>
    <select id='port_id' name='port'  [(ngModel)]='port' class='form-control' >
        <option [ngValue]="port._id" *ngFor='let port of ports'>{{port.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="maxAmount">Max Amount</label>
    <input type="text" class="form-control" ngModel id="maxAmount" name="maxAmount" placeholder="Max Amount">
  </div>
  <div class="form-group">
    <label for="minSubmersion">Min Submersion</label>
    <input type="text" class="form-control" ngModel id="minSubmersion" name="minSubmersion" placeholder="Min Submersion">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
