<form (ngSubmit)="edit(f)" #f="ngForm">
  <div class="form-group">
    <label for="port">Port</label>
  <select id='port' class='form-control' [(ngModel)]='port' name='port'>
      <option [ngValue]="port._id"  selected='port'  *ngFor='let port of ports'>{{port.name}}</option>
  </select>
  </div>
  <div class="form-group">
    <label for="maxAmount">Max Amount</label>
    <input type="text" class="form-control" [(ngModel)]="maxAmount" id="maxAmount" name="maxAmount" placeholder="maxAmount">
  </div>
  <div class="form-group">
    <label for="minSubmersion">Min Submersion</label>
    <input type="text" class="form-control" [(ngModel)]="minSubmersion" id="minSubmersion" name="minSubmersion" placeholder="minSubmersion">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
