<form (ngSubmit)="add(f)" #f="ngForm">
  <div class="form-group">
      <label for="pier_id">Pier</label>
    <select id='pier_id' name='pier'  [(ngModel)]='pier' class='form-control' >
        <option [ngValue]="pier._id" *ngFor='let pier of piers'>{{pier._id}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" ngModel id="name" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="tonnage">Tonnage</label>
    <input type="text" class="form-control" ngModel id="tonnage" name="tonnage" placeholder="Tonnage">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" ngModel id="country" name="country" placeholder="Country">
  </div>
  <div class="form-group">
    <label for="submersion">Submersion</label>
    <input type="text" class="form-control" ngModel id="submersion" name="submersion" placeholder="Min Submersion">
  </div>
  
  <button type="submit" class="btn btn-primary">Add</button>
</form>
